input[type="text"], input[type="email"] {
    border: 1px solid #cccccc;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    width: 100%;
    color: #242424;
    font-size: 14px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.saveButton {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: rgb(214, 0, 21);
    padding: 8px 20px;
    border: solid rgb(214, 0, 21) 0px;
    text-decoration: none;
    cursor: pointer;
}

.formLabel {
    font-size: 12px;
    color: rgb(80, 80, 80);
    display: block;
    margin-bottom: 10px;
}

.formBlock {
    margin-top: 20px;
}

.leftFormBlock {
    width: 550px;
    display: inline-block;
}

.rightFormBlock {
    margin-left: 50px;
    width: 400px;
    display: inline-block;
}

.formBox {
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 60px;
    position: relative;
}

.leftAngle, .rightAngle {
    position: absolute;
    bottom: 0;
    font-size: 30px;
}

.leftAngle {
    left: 0;
}

.rightAngle {
    right: 0;
}