.users-box {
    width: 1000px;
    margin: 0 auto;
}

.formLabel {
    font-size: 12px;
    color: rgb(80, 80, 80);
    display: block;
    margin-bottom: 10px;
}

.usersTable {
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.usersTable th {
    color: rgb(80, 80, 80);
    width: 125px;
    vertical-align: bottom;
    border-bottom: 1px solid rgb(196, 153, 163);
    padding-bottom: 20px;
}

.usersTable td {
    padding-top: 20px;
}

#addPlus {
    font-size: 20px;
}

#addUserButton {
    cursor: pointer;
}